<footer class="footer">
  <small>
    <a href="meh">meh</a> by Chipairon.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href='http://rawr'>News</a></li>
    </ul>
  </nav>
</footer>

